doctype html
html
  block head 
    include includes/head

  body

  block navbar
    include includes/navbar

  block content

  block footer
    include includes/footer
  
  block js

  // - Laat overal tooltips toe.
  script.
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })